@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>聯絡地址:</strong><a>台北市大安區</a><br />
    <strong>連絡電話:</strong><a>0912-34567</a><br />
    <strong>Email:</strong> <a>test@gmail.com</a>
</address>